title: Digital Mudra
email: marcello@tutti.ch

baseurl: "/"
url: https://digitalmudra.ch

markdown: kramdown

plugins:
  - jemoji

defaults:
  - scope:
      path: "assets/images"
    values:
      image: true
