.home-image {
    display: block;
    width: 55%;
    float: right;
    margin-left: 1rem;
}

.home-mission {
    font-size: 4rem;
    margin-right: 2rem;
}

.home-services {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    .service {
        border: 1px solid $color3;
        border-radius: 1rem;
        padding: 1rem;
        flex: 0 1 24%;
        display: flex;
        margin: 0 1rem 1rem 0;
        text-align: center;

        img {
            display: block;
            width: 100%;
        }
    }
}