/* Coolors Exported Palette - coolors.co/fefffe-e5fcf5-e0c39f-210124-750d37 */

/* HSL */
// $color1: hsla(120%, 100%, 100%, 1);
// $color2: hsla(162%, 79%, 94%, 1);
// $color3: hsla(33%, 51%, 75%, 1);
// $color4: hsla(295%, 95%, 7%, 1);
// $color5: hsla(336%, 80%, 25%, 1);

/* RGB */
$color1: rgba(254, 255, 254, 1);
$color2: rgba(229, 252, 245, 1);
$color3: rgb(224, 195, 159);
$color4: rgba(33, 1, 36, 1);
$color5: #9493b6;